OCI_TENANCY_ID=""
OCI_USER_ID=""
OCI_FINGERPRINT=""
OCI_PRIVATE_KEY_PATH=""
OCI_NAMESPACE=""
OCI_REGION=""

Configuração atual (produção):
- oci.enabled=true
- Bucket: hojeafestaenossa
- Região: sa-saopaulo-1
- Autenticação via API Key (RSA SHA256)
Para rodar em produção:
export OCI_TENANCY_ID=""
export OCI_USER_ID=""
export OCI_FINGERPRINT=""
export OCI_PRIVATE_KEY_PATH=""
export OCI_NAMESPACE=""
export OCI_REGION=""


export OCI_TENANCY_ID="ocid1.tenancy.oc1..aaaaaaaax4l46njrmfsxih4xgiwtjh5qlejnfcjjgo7x4vuwjnjm2inmd3cq"
export OCI_USER_ID="ocid1.user.oc1..aaaaaaaabawau6lz7tvtpek4cdvf6qtuxid4nf7pygqzergl7ooxuz5ao55a"
export OCI_FINGERPRINT="51:a8:3c:5e:f1:74:6f:94:e7:b2:52:6d:13:80:24:ee"
export OCI_PRIVATE_KEY_PATH="/Users/rafaellima/Documents/Oracle_SSH/hojeafestaenossa/API_KEY/rafaelclima.ti@gmail.com-2026-03-01T18_45_16.412Z.pem"
export OCI_NAMESPACE="rafaellimadev"
export OCI_REGION="sa-saopaulo-1"